<section class="dashboard">
        <div class="top">
            <i class="uil uil-bars sidebar-toggle"></i>

            <div class="search-box">
                <i class="uil uil-search"></i>
                <input id="live-search" type="text" placeholder="Search...">
            </div>
        </div>
        <div class="dash-content">
            <div class="overview">
                <div class="title">
                    <i class="uil uil-tachometer-fast-alt"></i>
                    <span class="text">Thống kê</span>
                </div>

                <div class="boxes">
                    <div class="box box1">
                        <i class="uil uil-books"></i>
                        <span class="text">Sách</span>
                        <span class="number">{{totalBook}}</span>
                    </div>
                    <div class="box box2">
                        <i class="uil uil-users-alt"></i>
                        <span class="text">Người dùng</span>
                        <span class="number">{{totalUser}}</span>
                    </div>
                    <div class="box box3">
                        <i class="uil uil-comments"></i>
                        <span class="text">Tổng bình luận</span>
                        <span class="number">{{totalComment}}</span>
                    </div>
                </div>
            </div>
        </div>
</section>