<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    {{>admin/a_head}}
  </head>
  <body>
    {{>admin/a_nav}}
    {{{body}}}
  </body>
  <script src="/javascripts/admin.js"></script>
</html>
