<nav class="menu-admin">
        <div class="logo-name">
            <div class="logo-image">
                <!--<img src="images/logo.png" alt="">-->
            </div>

            <a href="" target="_blank" rel="noopener noreferrer"><span class="logo_name">BReview</span></a>
        </div>

        <div class="menu-items">
            <ul class="nav-links">
                <li><a href="/admin/">
                        <i class="uil uil-estate"></i>
                        <span class="link-name">Home</span>
                    </a></li>
                <li><a href="/admin/books">
                    <i class="uil uil-books"></i>
                        <span class="link-name">Sách</span>
                    </a></li>
                <li><a href="/admin/users">
                    <i class="uil uil-users-alt"></i>
                        <span class="link-name">Tài khoản</span>
                    </a></li>
                <li><a href="/admin/comments">
                        <i class="uil uil-comments"></i>
                        <span class="link-name">Bình luận</span>
                    </a></li>
            </ul>

            <ul class="logout-mode">
                <li><a href="">
                        <i class="uil uil-signout"></i>
                        <span class="link-name">Logout</span>
                    </a></li>
            </ul>
        </div>
    </nav>